/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk to override defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 2, 2);
    z-index: -1;

    /* Temporary font style */
    color: #fbfbfbbe;
    font-family: 'Anta', sans-serif;
    align-items: center;
}

/* Header styling */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    background-color: rgba(20, 20, 12, 0.509);
    position: absolute;
    top: 1vh;
    border-radius: 7px;
    letter-spacing: 0.09rem;
    border-style: solid;
    border-color: rgba(78, 154, 174, 0.854);
    border-width: 0.1px;
}

header a {
    text-decoration: none;
    padding-left: 0.6rem;
}

h1 {
    flex-grow: 9;
    font-size: 4.2vh;
    color: rgba(109, 255, 235, 0.65);
    margin-left: -0.25rem;
}

/* Nav bar styling */
nav {
    position: fixed;
    display: none;
    right: 1rem;
    top: 3rem;
}

nav li {
    align-items: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.navLink {
    color: rgba(109, 255, 235, 0.65);
    margin: 1rem 0;
    background-color: rgba(20, 20, 12, 0.509);
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    font-size: 2.5vh;
    letter-spacing: 0.09rem;
    border-style: solid;
    border-color: rgba(78, 154, 174, 0.854);
    border-width: 0.1px;
}

#menu {
    /* background-color: rgba(255, 0, 0, 0.338); */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    border-radius: 5px;
    position: fixed;
    top: 11.5vh;
    right: 1vh;
}

#nav-toggle {
    position: fixed;
    top: 2.4rem;
    right: 1rem;
    display: none;
}

.nav-toggle-label {
    position: fixed;
    top: 7vh;
    right: 1vh;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: rgba(20, 20, 12, 0.509);
    border-style: solid;
    border-color: rgba(78, 154, 174, 0.854);
    border-width: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    color: rgba(109, 255, 235, 0.65);
    padding-left: 0.1rem;
    font-size: 3vh;
}

#nav-toggle:checked~nav {
    display: block;
    top: 2.4rem;
    right: 1rem;
}

/* Main sections styling */
main {
    background-color: rgba(255, 255, 255, 0);
    /* Let Main element take all of the space */
    flex: 1 0 auto;
}

.test {
    background-color: rgba(213, 218, 222, 0.15);
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Footer styling */
footer {
    display: flex;
    width: 99vw;
    margin-bottom: 0.3vh;
    position: fixed;
    bottom: 0;
    border-radius: 7px;
    letter-spacing: 0.09rem;
    align-items: center;
    font-size: 4.5vh;
    padding: 3vh;
    border-style: solid;
    background-color: rgba(20, 20, 12, 0.509);
    border-width: 0.1px;
    color: rgba(144, 249, 235, 0.65);
}

footer:focus {
    background-color: rgba(20, 20, 12, 1);
}

/* Background video sizing and position */
#bgVid {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}