/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Astriks to overide defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 2, 2);
    z-index: -1;
    /* Temporary font style */
    color: #fbfbfbbe;
    font-family: 'Anta', sans-serif;
    align-items: center;
}

/* Header main styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(17, 69, 128, 0.3);
    position: fixed;
    border-radius: 2px;
    align-items: baseline;
    margin:auto;
}

header a {
    text-decoration: none;
    color: #cfe4e325;
}

h1 {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

#menu {
    list-style-type: none;
    letter-spacing: 3px;
    top: 1rem;
}

#menu > li {
    background-color: rgba(156, 15, 32, 0.708);
    border: 2px;
    border-color: aliceblue;
}

/* Main sections main styling */
main {
    background-color: rgba(255, 255, 255, 0);
    /* Let Main element take all of the space */
    flex: 1 0 auto;
}

/* Footer main styling */
footer {
    margin: 5px 5px 0 5px;
    background-color: rgba(9, 172, 75, 0.3);
    position: fixed;
    bottom: 0;
}

/* Navigation bar */
nav {
    top: 3rem;
    right: 1rem;
    position: fixed;
    width: 100px;
    height: 100px;
    display:none;
}

#buttonHide:checked~nav {
    display:block;
}

/* Background video positioning */
#bgVid {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

