/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk: override defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Hide scrollbar for IE, Edge and Firefox following instructions from: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Asterisk: hide scrollbar for Chrome, Safari and Opera following instructions from: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
*::-webkit-scrollbar {
    display: none;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 2, 2);
    z-index: -10;

    /* Temporary font style */
    color: #fbfbfbbe;
    font-family: 'Anta', sans-serif;
    align-items: center;
}

/* Header styling */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(20, 20, 12, 0.9);
    position: fixed;
    top: 1vh;
    border-radius: 0.5vh;
    letter-spacing: 0.09rem;
    border-style: solid;
    border-color: rgba(78, 154, 174, 0.5);
    border-width: 0.1px;
}

header a {
    text-decoration: none;
}

h1 {
    flex-grow: 9;
    font-size: 4.2vh;
    color: rgba(109, 255, 235, 0.65);
    margin-left: -0.25rem;
}

/* Nav bar styling */
nav {
    position: fixed;
    display: none;
    right: 1rem;
    top: 3rem;
}

nav li {
    align-items: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.navLink {
    color: rgba(109, 255, 235, 0.65);
    margin: 1rem 0;
    background-color: rgba(20, 20, 12, 0.9);
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    font-size: 2.5vh;
    letter-spacing: 0.09rem;
    border-style: solid;
    border-color: rgba(78, 154, 174, 0.5);
    border-width: 0.1px;
}

#menu {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-radius: 5px;
    position: fixed;
    top: 6.5vh;
    right: 0;
}

#nav-toggle {
    position: fixed;
    top: 2.4rem;
    right: 1rem;
    display: none;
}

.nav-toggle-label {
    display: flex;
    position: fixed;
    top: 11.4vh;
    right: 0vh;
    padding: 1vh 0.7vh;
    border-style: solid;
    border-radius: 1vh 0 0 1vh;
    border-width: 0.1px;
    color: rgba(109, 255, 235, 0.65);
    background-color: rgba(20, 20, 12, 0.9);
    border-color: rgba(78, 154, 174, 0.5);
    z-index: 1;
    font-size: ;
}


#nav-toggle:checked~nav {
    display: block;
    top: 2.4rem;
    right: 1rem;
}

.fa-solid {
    color: rgba(109, 255, 235, 0.65);
    padding-left: 0.1rem;
    font-size: 100%;
}

/* Main sections styling */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5vh;
    background-color: rgba(255, 255, 255, 0);
    /* Let Main element take all of the space */
    flex: 1 0 auto;
    padding-top: 10vh;
    padding-left: 2vh;
    padding-right: 2vh;
    z-index: -1;
}

/* Footer  general styling */
/* Footer visibility button styling */
#social-button {
    position: fixed;
    bottom: 2.4rem;
    right: 1rem;
    z-index: 100;
}

#social-toggle {
    display: none;
}

.social-toggle-label {
    display: flex;
    position: fixed;
    bottom: 1vh;
    right: 0vh;
    padding: 1vh;
    border-style: solid;
    border-radius: 1vh 0 0 1vh;
    border-width: 0.1px;
    background-color: rgba(20, 20, 12, 0.9);
    border-color: rgba(78, 154, 174, 0.5);
    color: rgba(109, 255, 235, 0.65);
    z-index: 10;
}

#social-toggle:checked~footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.502);
    z-index: 1;
    height: 8vh;
    width: 99.8vw;
    bottom: 0;
    border-width: 0.1vh;
    border-style: solid;
    border-color: rgba(78, 154, 174, 0.5);
    border-radius: 1vh 1vh 0 0
}

/* Footer element styling */

footer {
    position: fixed;
    display: none;
}

#social-links {
    position: relative;
    display: flex;
    list-style: none;
    z-index: 10;
}

/* Background video sizing and positing */
#bgVid {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}